

h2 {
    display: flex;
    justify-content: center;
    color: blueviolet;
}

h2:hover {
    color: rgb(214, 0, 0);
    text-transform: uppercase;
    animation: 0.9s;
    
}

p {
    color: rgb(235, 15, 15);
}

div {
    background-color: rebeccapurple;
    width: auto;
}
